Perceptrons/Perceptrons/SupportFiles/training_set1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="perceptron">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="number_of_input_neurons" type="xs:unsignedByte" />
        <xs:element name="threshold" type="xs:decimal" />
        <xs:element maxOccurs="unbounded" name="training_set">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="input_node" type="xs:unsignedByte" />
              <xs:element name="expected_output" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>